<section class="banner">
  <owl-carousel-o [options]="customOptions">
    <ng-template class="item" carouselSlide>
      <img src="../../../assets/banners/banner_1.jpg" alt="">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima omnis eum porro dolor praesentium aliquam natus, quam officia! Nulla, veritatis.</p>
      <button>Reserva</button>
    </ng-template>  
    <ng-template class="item" carouselSlide>
      <img src="../../../assets/banners/banner_2.jpg" alt="">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima omnis eum porro dolor praesentium aliquam natus, quam officia! Nulla, veritatis.</p>
      <button>Nosotros</button>
    </ng-template>  
    <ng-template class="item" carouselSlide>
      <img src="../../../assets/banners/banner_3.jpg" alt="">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima omnis eum porro dolor praesentium aliquam natus, quam officia! Nulla, veritatis.</p>
      <button>Inicia sesión</button>
    </ng-template>  
  </owl-carousel-o>
</section>
