<div class="background_services">
    <div class="container_services">
        <section class="tittle">
            <h3>Nuestros Servicios</h3>
        </section>
        <section class="card">
            <img src="../../../assets/images/img_service_1.jpg" alt="">
            <div>
                <span>Manicure</span>
                <p>Descubre el lujo de un cuidado completo para tus manos con nuestro servicio de manicura. Eleva tu estilo con colores deslumbrantes y un acabado impecable que reflejará tu elegancia.</p>
            </div>
        </section>
        <section class="card right">
            <img src="../../../assets/images/img_service_2.jpg" alt="">
            <div>
                <span>Manicure</span>
                <p>Realza tu mirada al máximo con nuestro servicio de lifting de pestañas. ¡Olvídate de las pestañas postizas y despiértate con una apariencia vibrante y natural todos los días!</p>
            </div>
        </section>
        <section class="card">
            <img src="../../../assets/images/img_service_3.jpg" alt="">
            <div>
                <span>Manicure</span>
                <p>Transforma tu estilo con nuestro servicio de tinte de cabello. Desde cambios sutiles hasta audaces transformaciones de color, estamos aquí para hacer realidad tu visión y resaltar tu belleza única</p>
            </div>
        </section>
        <section class="btn">
            <button>Más servicios</button>
        </section>
    </div>
</div>