<div class="container_about_us">   
    <section class="tittle">
        <h3>Nosotros</h3>
    </section>
    <section class="info">
        <div class="card">
            <img src="../../../assets/images/img_woman's_silhouette.png" alt="">
            <span>Equipo Profesional</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, non?</p>
        </div>
        <div class="card">
            <img src="../../../assets/images/img_nail_polish.png" alt="">
            <span>Productos Premium</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, non?</p>
        </div>
        <div class="card">
            <img src="../../../assets/images/img_quality.png" alt="">
            <span>Calidad</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, non?</p>
        </div>
        <div class="card">
            <img src="../../../assets/images/img_hair_salon.png" alt="">
            <span>Equipo</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, non?</p>
        </div>
    </section>
    <section class="btn">
        <button>Conoce más</button>
    </section>
</div>