<section class="container_gallery">
    <div class="tittle">
        <h3>Portafolio</h3> 
    </div>
    <owl-carousel-o [options]="customOptions">
      <ng-template class="item" carouselSlide>
        <img src="../../../assets/images/img_portfolio_1.jpg" alt="">
      </ng-template>  
      <ng-template class="item" carouselSlide>
        <img src="../../../assets/images/img_portfolio_2.jpg" alt="">
      </ng-template>  
      <ng-template class="item" carouselSlide>
        <img src="../../../assets/images/img_portfolio_3.jpg" alt="">
      </ng-template>  
      <ng-template class="item" carouselSlide>
        <img src="../../../assets/images/img_portfolio_4.jpg" alt="">
      </ng-template>  
      <ng-template class="item" carouselSlide>
        <img src="../../../assets/images/img_portfolio_5.jpg" alt="">
      </ng-template>  
      <ng-template class="item" carouselSlide>
        <img src="../../../assets/images/img_portfolio_6.jpg" alt="">
      </ng-template> 
    </owl-carousel-o>
  </section>
  